doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        title talk 
        link(rel="stylesheet", href="/static/css/styles.css")
        script(src="http://code.jquery.com/jquery-1.7.1.js")
        script(src="/socket.io/socket.io.js")
        script(src="/static/js/chatting.js")
    body.background
            form(method="POST").form-group
                div#content
                input(placeholder="UserName",name="User Name", type="text", id="name", class="form-control" value=username , required)
                //- input(placeholder="FriendName",name="Friend Name", type="text", id="friendname", class="form-control" value=friendname , required)
                input(placeholder="ChatId",name="Chat Id", type="text", id="chat_id", class="form-control" value=chat._id, required)
                //- input(placeholder="UserId",name="User Id", type="text", id="userid", class="form-control" value=user_id , required)
                //- input(placeholder="FriendId",name="Friend Id", type="text", id="friendid", class="form-control" value=friend_id , required)
                div#form-group
                    input(placeholder="",name="Message", type="text", id="message", class="form-control" required)
                    input(type="submit", value="전송", id="button")