extends base.pug
block body
    body#friend-background
    block content
        div.screen-header 
            h1.screen-header__title Chats
        
        main.friends-screen 
            div.friends-screen__channel 
                each val, index in chat
                    div.friend_info_link
                        a(href="/chat"+"/"+chat[index]._id+"/room").friend_info_link
                            div.hidden 
                                #{chat_user = chat[index].userid} 
                                #{messagelength = chat[index].message.length-1}
                            div.user-component
                                div.user-component__column 
                                    if (id == chat_user)
                                        img(src=chat[index].friendavatarUrl crossorigin).user-component__avatar.user-component__avatar--sm 
                                        div.user-component__text #{chat[index].friendname}
                                        span.user-component__status #{chat[index].message[messagelength]}
                                    else if (id != chat_user)
                                        img(src=chat[index].useravatarUrl).user-component__avatar.user-component__avatar--sm 
                                        div.user-component__text #{chat[index].username}
                                        span.user-component__status #{chat[index].message[messagelength]}
                                div.user-component__column
        include partials/footer.pug
