
extends base.pug
block body
    body
    block content
            form(method="POST")
                div.alt-header2
                    div.alt-header_column2
                        a(href=`/friend/${loggedInUser._id}`)
                            span
                                i.fas.fa-chevron-left.fa-xl.friend_back
                    div.alt-header_column2
                        input.friend-email(placeholder="",name="useremail", type="email" id="friend_email")
                        input(type="submit" value="검색" class="friend_submit")
                if foundUser
                    section.profile-screen__wrapper
                        section.user-component#friend_info
                            div.user-component__column
                                img(src=foundUser.avatarUrl crossorigin).user-component__avatar.user-component__avatar--xl
                            div.user-component__column3
                                span.friend-name #{foundUser.name}
                            div.user-component__column
                                button.friend-plus 
                                    span.user-edit-profile 친구추가
            input(type="text" value=loggedInUser._id ,id="user_id")                      
            if errorMessage
                div.friend_error
                    span=errorMessage

block script
    if foundUser
        script(src="/static/js/friendPlus.js") 